body{
  line-height: 1.4;
}
h1 {
  color : #F36B53;
  font-size: 40px;
}
p{
  font-style: normal;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
}
h2{
  color: #222455
}
h3{
  color: #E1925E
}
strong {
  color: blue;
}
a{
  text-decoration: none;
}
img{
  padding-left: 20px;
  padding-bottom: 10px;
}
